/*
colors: 
darker green: #CCD5AE
light green: #E9EDC9
lighter green: #FEFAE0
beige: #FAEDCD
light brown: #D4A373
https://coolors.co/palette/ccd5ae-e9edc9-fefae0-faedcd-d4a373
font-family: 'Schoolbell', cursive;
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    height: 100vh;
    background-color: #CCD5AE;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}


section {
    display: grid;
    grid-template-columns: repeat(5, 7rem);
    grid-template-rows: repeat(4, 7rem);
    grid-gap: 0.5rem;
}


.card {
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.7s ease;
    cursor: pointer;
}


.face, .back {
    width: 100%;
    height: 100%;
    position: absolute;
    border: .25rem solid white;
    border-radius: 1rem;
    pointer-events: none;
}


.face {
    padding: .5rem;
    background-color: white;
}


.back {
    background-color: #FAEDCD;
    backface-visibility: hidden;
}


.flippedCard {
    transform: rotateY(180deg);
}


.title {
    font-family: 'Schoolbell', cursive;
    text-align: center;
    font-size: 4em;
    font-weight: normal;
}


.game-info-container {
    font-family: 'Schoolbell', cursive;
    font-size: 2em;
    font-weight: normal;
    margin: 0.5rem;
    display: flex;
}


/* div > .game-info-time-remaining {
    position: absolute;
    left: 4.5rem;
} */


.start-container {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #CCD5AE;
  }


button {
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    font-family: 'Schoolbell', cursive;

}


.start {
    font-size: 2rem;
    width: 25%;
    padding: 1rem;
    margin: 1rem;
    background-color: #FAEDCD;
    color: #D4A373;
    
}


.end-container {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #CCD5AE;
  }







.hidden {
    display: none;
}




